/products_manager_api/nbproject/project.properties
/products_manager_api/nbproject/project.xml
/products_manager/nbproject/project.xml
/products_manager/nbproject/project.properties
/nbproject/project.xml
/nbproject/project.properties
/products_manager/nbproject/private/
*.pyc
*.sqlite3
/nbproject/private/
/.sass-cache/*
/staticfiles/*
