  <div class="alert alert-danger" role="alert" ng-show="!product_form.$valid">
    <div ng-show="product_form.name_input.$error.required">Nazwa - Pole nie może być puste</div>
    <div ng-show="product_form.quantity_input.$error.number">Ilość - Wymagana wartość liczbowa</div>
    <div ng-show="product_form.price_input.$error.number">Cena - Wymagana wartość liczbowa</div>
  </div>
  <form name='product_form' class="simple-form">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Nazwa</span>
      <input name="name_input" type="text" class="form-control" placeholder="Nazwa" aria-describedby="basic-addon1" ng-model='selected_product.name' required>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Opis</span>
      <input type="textarea" class="form-control" placeholder="Opis" aria-describedby="basic-addon1" ng-model='selected_product.description'>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Ilość</span>
      <input name="quantity_input" type="number" class="form-control" placeholder="Ilość" aria-describedby="basic-addon1" ng-model='selected_product.quantity'>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Cena</span>
      <input name="price_input" type="number" class="form-control" placeholder="Cena" aria-describedby="basic-addon1" ng-model='selected_product.price'>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Wartość</span>
      <input type="number" class="form-control" placeholder="Wartość" aria-describedby="basic-addon1" ng-model='selected_product.value'>
    </div>
  </form>
